# =========================
# 🔧 Gradle
# =========================
.gradle/
build/

# =========================
# 💻 IntelliJ IDEA
# =========================
.idea/
*.iml
out/

# =========================
# ☕ Kotlin
# =========================
.kotlin/

# =========================
# 🖥️ OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# 📄 Logs
# =========================
*.log

# =========================
# ⚙️ Local configs
# =========================
local.properties

# =========================
# 📦 JavaFX SDK
# =========================
# JavaFx/